body {
    background-color: rgb(43, 190, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: rgb(177, 113, 113);
    border: 3px solid rgb(240, 130, 66);
    border-radius: 10px;
    display: flex;
    justify-content: space-between; /*Distribute items evenly*/
    align-items: center; /*Center items vertically*/
    margin-bottom: 2em;
    padding: 1em 2em;
}
#title {
    text-align: center;
    flex-grow: 1;
} 

.container {
    border-radius: 15px;
    border: 1px solid white;
    padding: 30px;
    margin-bottom: 1em;
}
.group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-radius: 10px;
}
.item {
    border-radius: 15x;
    text-align: center;
    border: 1px solid white; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.item a {
    color: white;
    text-decoration-line: none;
}



#individual {
    border: 5px solid purple;
    background-color: rgb(218, 49, 218);
    border-radius: 10px;
    padding: 20px;
}

.item.java {
    background-color: rgb(250, 46, 250);;
    border: 5px solid pink;
    padding: 20px;
}
.item.java a {
    color: white; 
}

.item.python {
    background-color: rgb(72, 223, 72);
    border: 5px solid green;
}
.item.python a {
    color: green;
}
.item.swift {
    background-color: orange;
    border: 5px solid rgb(255, 255, 255);
}

#web {
    border: 5px solid blue;
    background-color: skyblue;
    border-radius: 10px;
    padding: 20px;
}

.item.js {
    background-color: orange;
    padding: 20px;
}
.item.html,
.item.css {
    background-color: blue;
}

#bash {
    background: skyblue;
}
.item.bash, 
.item.power,
.item.sql {
    background: blue;
    border: 5px solid white;
    border-radius: 10px;
    padding: 20px;
}

#C {
    border: 5px solid purple;
    background-color: rgb(218, 49, 218);
    border-radius: 10px;
    padding: 20px;
}
img {
    height: 100px;
    width: 100px;
}


.in-1 {
    background-color: purple;
}
.in-1 a,
.in-2 a,
.in-3 a {
    color: white;
    text-decoration: none;
}

.in-2 {
    background-color: green;
}



.html {
    border: 1px solid black;
    background-color: skyblue;
}
.css {
    border: 1px solid black;
    background-color: blue;

}





.card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    align-items: flex-start;
}
.card {
    background: whitesmoke;
    padding: 1rem;
    border: 1px solid black;
    border-radius: .25em;
}


.cutoff-text {
    --max-lines: 1;
    --line-height: 1.4;

    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    
    overflow: hidden;
    position: relative;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines); */
}
.cutoff-text:has(+ .expand-btn:not(:checked)):before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, white);
}

.expand-btn {
    appearance: none;
    border: 1px solid black;
    padding: .5em;
    border-radius: .25em;
    cursor: pointer;
    margin-top: 1rem;
}
.expand-btn:hover {
    background-color: #CCC;
}
.expand-btn::before {
    content: "Expand";
}
.expand-btn:checked::before {
    content: "Collapse";
}

.cutoff-text:has(+ .expand-btn:checked) {
    max-height: none;
}




/* 
#europe {
    border: 5px solid rgb(229, 182, 29);
    background-color: rgb(19, 185, 214);
    border-radius: 10px;
    padding: 20px;
}
#asia {
    border: 2px solid rgba(255, 91, 91, 0.881);
    background-color: rgba(251, 251, 93, 0.862);
    border-radius: 10px;
    padding: 20px;
}
#asia .group {
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}
#asia .group .item {
    border-radius: 15px;
    text-align: center;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item.yue, .item.zh, .item.nan {
    grid-column: span 1;
}
.item.ja, .item.ko {
    grid-column: span 1;
    justify-self: center;
}
.item.th {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: center;
}
.item.vi {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: center;
}

.item.zh, .item.yue, .item.nan, .item.vi {
    background-color: red;
}

.item.ja, .item.ko {
    background-color: white;
}

.item.th {
    background-color: white
}
.item.th {
    background: linear-gradient(to bottom, red 0%, red 16.66%, white 16.66%, white 33.33%, blue 33.33%, blue 66.66%, white 66.66%, white 83.33%, red 83.33%, red 100%);
}

.item.yue a, .item.th a, .item.ru a {
    color: white;
}
.item.zh a, .item.vi a {
    color: yellow;
}
.item.ja a {
    color: red;
}




#asia .group {
    grid-template-areas:
    "zh yue nan"
    "ja ko"
    "th vi";
}

#slavic {
    border: 2px solid blue;
    background-color: skyblue;
    border-radius: 10px;

}
.item {
    border-radius: 15x;
    text-align: center;
    border: 1px solid white; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

 
.item.ja,
.item.ko, 
.item.vi, 
.item.th {
    justify-self: center;
    align-self: center; 
}




.item.sp {
    background: linear-gradient(to bottom, red 20%, yellow 20%, yellow 80%, red 80%);
    border-color: transparent;
}
.item.pt {
    background: linear-gradient(to right, green 33.33%, red 33.33%); 
    position: relative;
    /* overflow: hidden; Hide overflow for the rhombus */
}
/*
.item.fr {
    background: linear-gradient(to right, blue 33.33%, white 33.33%, white 66.66%, red 66.66%);
}
.item.it {
    background: linear-gradient(to right, green 33.33%, white 33.33%, white 66.66%, red 66.66%);
    text: white;
}
.item.ro {
    background: linear-gradient(to right, blue 33.33%, yellow 33.33%, yellow 66.66%, red 66.66%);
}
.item.el {
    /* background: linear-gradient(to bottom, blue 12.5%, white 12.5%, white 12.5%, white 25%, blue 25%, blue 37.5%, white 37.5%, white 50%, blue 50%, blue 62.5%, white 62.5%, white 75%, blue 75%, blue 87.5%, white 87.5%, white 100%); */
}
/*      Background_Color    */
/* .item.yue,
.item.zh,
.item.nan,
.item.vi {
    background: red;
}
.item.ja,
.item.ko {
    background: white;
}
 */
/*      Anchor_Color    */
/* .item.yue a,
.item.th a,
.item.ru a {
    color: white;
}
.item.zh a,
.item.vi a {
    color: yellow;
}
.item.ja a {
    color: red;
} */